albumentations==1.4.14
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.9.0.80
pandas==2.0.3
pillow==10.3.0
scikit-image==0.21.0
scipy==1.10.1
seaborn==0.13.2
sympy==1.12
tensorboard==2.14.0
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4